@import "bourbon";
@import "grid-settings";
@import "neat";

body {
	background-color: red;
	margin: 0;
}

#header {
	height: 120px;
	width: 100%;
	background-color: grey;
}

#panorama {
	width: 100%;
	height: 400px;
}

#page {
	color: white;
	background-color: black;
	text-align: center;
	font: sans-serif;
	font-size: 18px;
	min-height: 1560px;
}